main{
    min-height: 75vh;
}

.parent {
  position: relative;
  border: 4px solid rgba(0,0,0,0.2);
  border-radius: 50%;
}

.item {
    position: absolute;
    left: 2.5%;
    top: 45%;
    height: 10%;
    width: 10%;
    transform-origin: 470% 50%;
}
